.touchbar img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

img.Init_intouchbar {
    transition: transform 1.5s;
}

.touchbar {
    display: none;
    padding: 5px;
    background: repeating-linear-gradient(270deg, #000428 0%, #004e92 50%, #000428 100%);
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); */
}

.touchbar_in {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(160deg, #562B7C 0%, #2B86C5 52%, #562B7C 100%);
    border-radius: 10px;
    padding: 11px;
}

.settings_intouchbar,
.settings {
    animation: rotation 5.0s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

div.weather {
    margin-left: auto;
}

span.nicewords {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: yuanyuanxingshu ,sans-serif;
    /* font-size: 100%; */
    line-height: 35px;
    height: 50px;
    text-shadow: 0 0 10px #94d2a9, 0 0 20px #94d2a9, 0 0 30px #94d2a9, 0 0 40px #94d2a9;
    transition: all 0.5s ease;
}

input#myInput {
    display: none;
}