/* .check {
    width: 300px;
    height: 500px;
    background-color: aliceblue;*/
/*border: 1px solid gray;*/
/*
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
} */

.Init,
.sunANDmoon,
.settings {
    height: 40px;
    width: auto;
}


img.settings {
    object-fit: contain;
    margin-left: 0;
    margin-right: auto;
}
/*   太阳月亮图像   */
img.sunANDmoon {
    /* background-image: url('../img/sun.svg'),url('../img/moon.svg');
    background-repeat: no-repeat,no-repeat;
    background-position: left center,right center; */
    margin-right: 0;
    margin-left: auto;
    transition: opacity 0.3s ease;
    object-fit: contain;
}

img.Init {
    transition: transform 1.5s;
}

body {
    transition: background-color 0.3s ease;
}

#main {
    display: flex;
    transition: margin-left .5s;
    padding: 16px;
}

/* 在高度小于 450px 的较小屏幕上，更改 sidenav 的样式*/
@media screen and (max-height: 450px) {}